@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Admninistration.Tenants.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new MultiTenancy.Admninistration.TenantsGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>